/* General page layout */
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #fce4ec, #e3f2fd);
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Keep h1 centered */
h1 {
  text-align: center;
  color: #6a5acd;
  font-size: 3rem;
  margin: 2rem 0;
  letter-spacing: 2px;
  background-color: #e4d1fa;
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Flexbox layout for form + result */
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* Form container styling */
form {
  background-color: #ffffffb3; /* semi-transparent white */
  border-radius: 20px;
  padding: 30px 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Label styling */
label {
  font-size: 1rem;
  color: #555;
  margin-bottom: 5px;
}

/* Input styling */
input[type="text"] {
  padding: 10px 15px;
  border: 2px solid #d1c4e9;
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  border-color: #ba68c8;
}

/* Radio buttons */
input[type="radio"] {
  accent-color: #f48fb1;
}

/* Radio label spacing */

button {
  padding: 0.5rem;
  background-color: #f6b4ca;
  font-size: 1rem;
  border-radius: 1rem;
  color: #222222;
  border-color: #b75576;
}

button:hover {
  background-color: #f48fb1;
}

.BMI-calculated {
  padding: 1rem 2rem;
  margin: 1rem;
  background: linear-gradient(135deg, #b5acf0, #e4d1fa);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #1d3557;
}
.BMI-calculated p {
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
}
#grid-canvas {
  padding-bottom: 0;
}
